build
*/build
.gradle
buildSrc/.gradle
buildSrc/build
gradle-user-home
profile-out*
/local.properties
/.idea/*

!/.idea/dictionaries
!/.idea/runConfigurations
!/.idea/inspectionProfiles
!/.idea/scopes
!/.idea/codeStyles
!/.idea/bashsupport_project.xml
!/.idea/fileColors.xml
!/.idea/codeInsightSettings.xml
!/.idea/vcs.xml

**/out/failures/*.png

*.iml

.DS_Store
/build
.navigation
captures/
/_working/
/app/gradle.properties
.directory

# log files/reports for inspection on debug map
/app/src/debug/assets/logs
